/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.05.2017, 14:53:44
    Author     : Alex
*/

.content {
    padding: 15px;
}

.thumb {
    display: inline-block;
    border: 2px solid #eaeaea;
    width: 104px;
    height: 104px;
    overflow: hidden;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 2px;
    vertical-align: middle;
}